  <a id = "scrapeBtn" class="nav-link"  type="submit">Scrape New Articles</a>
 <a id = "clearArticlesBtn" class="nav-link" type="submit">Clear All Articles</a>
 </form>
        </li>
      </ul>
    </div>
  </nav>

<div class="jumbotron">
    <div class="headersContainer">
        <h1 class="display-4">Clickhole Scraper</h1>
        <h3>Life-changing News!</h3>
    </div>
</div>

  {{#each articles}}

    <div class="card py-0">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h5 class="card-title"><a href={{link}}>{{title}}</a></h5>
                </div>
                <div class="col-md-2">
                        <a href="#" class="saveBtn btn btn-info" data-id={{_id}} data-toggle="modal" data-target="#saveModal">SAVE ARTICLE</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{summary}}</p>
        </div>
    </div>
    
  {{/each}}