.jumbotron {
    height: 500px;
    background-image: url("../images/background.png");
    background-size: cover;
    text-align: left;
    border-radius: 0 !important;
}

.jumbotron h1 {
    font-size: 90px;
}

.headersContainer {
    background-color: transparent;
    width: 70%;
    display: inline-block;
}

body {
    background-color: whitesmoke;
    color: white !important;
}

h1, h3 {
    width: 100%;
    color: #FF6F0F;
}

h3 {
    font-style: italic;
}

.nav-link {
    color: #FF6F0F !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: rgb(238, 175, 133) !important;
    opacity: 1;
}

.card {
    margin-bottom: 1.5%;
    border-color: #A7E4F2;
    width: 100%;
}

.card-header {
    background-color: whitesmoke;
}

.card-body {
    background-color: #FF6F0F;
}

a {
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FF6F0F !important;
    transition: 0.3s;
}

a:hover {
    color: rgb(238, 175, 133) !important;
    opacity: 1;
    text-decoration: none;
}

.btn {
    border-color: #A7E4F2 !important;
    color: #A7E4F2 !important;
}

.saveBtn {
    color: #CCE2E6 !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: whitesmoke !important;
    transition: none !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #800000 !important;
    transition: none !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #6B6365 !important;
}

.noteBtn {
    color: #161619 !important;
    background-color: #A9B2CF;
    float: right;
    margin-right: 10%;
}

.deleteBtn {
    background-color:#6B6365;
    float: right;
    margin-right: 10%;
}

.modal-footer, .modal-body, .modal-header {
    background-color: #800000;
    text-align: center;
    border-color: #A7E4F2;
}